<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<div class="container">

    <h2  class="text-center" style="padding: 12px">Register a new course</h2>

    <form class="row g-3 needs-validation" action="/course/register"  method="post" novalidate>
        <div class="col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
            <div class="invalid-feedback">
                Please type the course name.
            </div>
        </div>
        <div class="col-md-6">
            <label for="limitOfCustomers" class="form-label">Max. number of customers</label>
            <input type="number" class="form-control" id="limitOfCustomers" name="limitOfCustomers" required>
            <div class="invalid-feedback">
                Please select maximum quantity of customers.
            </div>
        </div>
        <div class="col-md-6">
            <label for="priceOfClass" class="form-label">Price</label>
            <input type="number" class="form-control" id="priceOfClass" name="priceOfClass" required>
            <div class="invalid-feedback">
                Please type a price for the course.
            </div>
        </div>
        <div class="col-md-6">
            <label for="ageGroup" class="form-label">Age Group</label>
            <select class="form-select" id="ageGroup" name="ageGroup" required>
                <option selected disabled value="">Please select one age group</option>
                <option value="kids">Kids</option>
                <option value="teens">Teens</option>
                <option value="adults">Adults</option>
                <option value="seniors">Seniors</option>
                <div class="invalid-feedback">
                    Please select the age group.
                </div>
            </select>
        </div>
        <div class="col-md-6">
            <label for="instructorName" class="form-label">Instructor Name</label>
            <input type="text" class="form-control" id="instructorName" name="instructorName">
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary" type="submit" style="color: white; background-color: #900993; border-color: #900993"><b>Register</b></button>
        </div>
    </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
</body>
</html>