<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/3975630e03.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/login-container.css">
    <link rel="stylesheet" href="../styles/form-container.css">
    <link rel="stylesheet" href="../styles/form.css">
    <link rel="stylesheet" href="../styles/form-title.css">
    <link rel="stylesheet" href="../styles/form-input-container.css">
    <link rel="stylesheet" href="../styles/form-input.css">

</head>

<body>
<main>
    <div class="login-container">
        <div class="form-container">

            <form action="#" th:action="@{/login/signin}" th:object="${login}" method="post" class="form">
                <h2 class="form-title">Log in</h2>

                <div class="form-input-container">
                    <div>
                        <i class="fa-regular fa-user" id="iconlogin1"></i>
                        <input class="form-input" id="name" th:field="*{username}" type="text">
                    </div>

                    <div>
                        <i class="fa-solid fa-lock" id="iconlogin2"></i>
                        <input class="form-input" id="password" th:field="*{password}" type="text">
                    </div>

                    <div class="form-linkforgotpassw">
                        <a href="#" >Forgot password?</a>
                    </div>
                </div>

                <div class="horizline"></div>

                <div class="rememberme-loginbutton">
                    <div class="rememberme">
                        <input type="checkbox" id="rememberme" name="rememberme">
                        <label for="rememberme">Remember me</label>
                    </div>

                    <div class="loginbutton">
                        <button class="form-button">Login</button>
                    </div>
                </div>

                <div class="signuplink">
                    <p class="form-text">Don't have an account?
                        <a href="#" class="form-link">Sign up</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

</main>
</body>
</html>


</body>
</html>
