<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/3975630e03.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/welcome.css">


</head>

<body>
<main>
    <div class="welcome">
        <form
            action="/create-course/courses" method="post" class="form">
            <button class="btn btn-primary">Create Course</button>
        </form>
        <form
            action="/update-course/courses" method="post" class="form">
            <button class="btn btn-secondary">Update Course</button>
        </form>
        <div>

            <p>Welcome!!!!</p>
        </div>

    </div>
</main>
</body>
</html>
