* {
    margin: 0;
    padding: 4;
    margin-top: 5px;



}

.btn{
    color: #ffffff;
    background-color:#900993;
    width: 130px;
    height: 30px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    float: left; /* O float esta mudando a ordem dos botoes*/
    margin: 6px;
}

p {
   text-align: center;
   padding-top: 300px;

}
